# PostgreSQL Configuration
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Auth.js / GitHub OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GITHUB_ID_DEV=
AUTH_GITHUB_SECRET_DEV=
AUTH_SECRET= # Run `npx auth secret` to generate

# Or individual parameters
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=your_user
# DB_PASSWORD=your_password
# DB_NAME=your_db
