.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
.ansi38-93 { color: #8700ff; }
.ansi38-128 { color: #af00d7; }
.ansi38-129 { color: #af00ff; }
.ansi38-163 { color: #d700af; }
.ansi38-164 { color: #d700d7; }
.ansi38-198 { color: #ff0087; }
.ansi38-199 { color: #ff00af; }
.ansi38-63 { color: #5f5fff; }
.ansi38-99 { color: #875fff; }
.ansi38-203 { color: #ff5f5f; }
.ansi38-204 { color: #ff5f87; }
.ansi38-33 { color: #0087ff; }
.ansi38-69 { color: #5f87ff; }
.ansi38-208 { color: #ff8700; }
.ansi38-209 { color: #ff875f; }
.ansi38-38 { color: #00afd7; }
.ansi38-39 { color: #00afff; }
.ansi38-178 { color: #d7af00; }
.ansi38-214 { color: #ffaf00; }
.ansi38-43 { color: #00d7af; }
.ansi38-44 { color: #00d7d7; }
.ansi38-148 { color: #afd700; }
.ansi38-184 { color: #d7d700; }
.ansi38-48 { color: #00ff87; }
.ansi38-49 { color: #00ffaf; }
.ansi38-83 { color: #5fff5f; }
.ansi38-84 { color: #5fff87; }
.ansi38-118 { color: #87ff00; }
.ansi38-119 { color: #87ff5f; }
.ansi38-154 { color: #afff00; }
